*{
    background-color: #c7d9e5;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

header{
   margin: 20px 30px;
}

h1,
h2{
    font-size: 20px;
    display: inline;
    line-height: 1px;
}

header h2{
    float: right;
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.instructions,
.questions,
.end,
.highscores{
    text-align: center;
}

h3{
    font-size: 40px;
}

p,
button{
    font-weight: bold;
}

.start-btn,
.submit-score,
.go-back,
.clear-scores{
    background-color: #dfc7e5;
}

.start-btn:hover,
.submit-score:hover,
.go-back:hover,
.clear-scores:hover{
    background-color: #ebdcef;
}

.start-btn:active,
.submit-score:active,
.go-back:active,
.clear-scores:active{
    border: 0px;
    background-color: #fff;
}

.start-btn:focus,
.submit-score:focus,
.go-back:focus,
.clear-scores:focus{
    border: auto;
}

.initials-text{
    background-color: #fff;
    font-weight: bold;
}