*{
    background-color: #f0f6ff;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{

}

header{
   margin: 20px 10px;
}

h1,
h2{
    font-size: 20px;
    display: inline;
    line-height: 1px;
}

header h2{
    float: right;
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.instructions{
    
}

h3{
    font-size: 40px;
}

p,
button{
    font-weight: bold;
}

.start-btn:hover{
    background-color: #fff;
}

.start-btn:active{
    border: 0px;
    background-color: #fff;
}

.start-btn:focus{
    border: auto;
}

.questions{
    
}

.end{

}

.highscores{
    
}